@import "tailwindcss";
.carousel .thumb.selected, .carousel .thumb:hover {
    border: 1.2px solid #5672!important;
}
.carousel .thumbs-wrapper {
    display: none!important;
}
.carousel .carousel-status {
    display: none!important;
}
.css-7g039-MuiPaper-root-MuiAppBar-root {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)!important;
    background-color: white!important;
    
}
.css-53g0n7-MuiButtonBase-root-MuiIconButton-root {
        --IconButton-hoverBg: rgba(0, 0, 0, 0.0)!important;
}