@import "tailwindcss";
.carousel .thumb.selected, .carousel .thumb:hover {
    border: 1.2px solid #5672!important;
}
.carousel .thumbs-wrapper {
    display: none!important;
}
.carousel .carousel-status {
    display: none!important;
}